body {
  background: #eee;
  font: 14px/21px Arial;
}

#container {
  background: #fff;
  width:300px;
  height: 300px;
  margin:50px auto;
  overflow: auto;
}

ul, li {
  list-style-type: none;
  margin:0;
  padding:0;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#loader {
  display: none;
  padding: 10px;
  text-align:center;
  font-weight: bold;
}
